main {
	background-color: #b1b1b1;
	border-radius: 8px;
	padding: 24px;
	text-align: center;
}

.stepper-container{
	margin-top: 12px;
	margin-bottom: 15px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.progress-bar {
	width: 75%;
	height: 4px;
	background-color: #fff;
	margin: auto;
	position: absolute;
}

.progress {
width: 33.3333%;
height: 100%;
background-color: #00ff00;
}

.check-points {
width: 75%;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
}

.check-points > span {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #fff;
	z-index: 100;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.active {
	border: 2px solid #00ff00;
}
