.cards-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.card {
    min-width: 80px;
    margin: 15px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: flex 5s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h3 {
    color: #fff;
    font-size: 4rem;
    font-family: Lato;
    letter-spacing: 24px;
    text-transform: uppercase;
    width: 100%;
    display: none;
    text-align: center;
}

.card:hover {
    cursor: pointer;
}

.active {
    flex-grow: 6;
    z-index: 10;
}

.active > h3 {
    display: block;
}

@media (max-width: 1024px){
    .cards-container {
        flex-direction: column;
    }
    .card {
        min-height: 24px;
    }
    .card h3 {
        font-size: 3rem;
        letter-spacing: 15px;
    }
}

@media (max-width: 599px) {
    .card h3 {
        font-size: 1.3rem;
        letter-spacing: 8px;
    }
}